{% extends "base.html.twig" %}

{% block conntent %}

<div class="col-sm-8">
    <h1> Ajoutre un produit  </h1>
    <form action="{{ path('add') }}" method="POST">
        <div class="form-group">
            <label for="name">Nom Produit:</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="price">Prix:</label>
            <input type="number" class="form-control" name="price" id="price">
        </div>

        <div class="form-group">
            <label for="quantity">Quantité:</label>
            <input type="number" class="form-control" name="quantity" id="quantity">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="price">Image:</label>
            <input type="file" class="form-control" id="img" name="img">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}