{% extends "base.html.twig" %}

{% block titre  %}
{% endblock %}
{% block conntent  %}
    <div class="col-sm-8">
    <h1> Ajoutre un produit  </h1>
    <form action="/action_page.php">
        <div class="form-group">
            <label for="name">Nom Produit:</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="price">Prix:</label>
            <input type="number" class="form-control" id="price">
        </div>

        <div class="form-group">
            <label for="quantity">Quantité:</label>
            <input type="number" class="form-control" id="quantity">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description">
        </div>
        <div class="form-group">
            <label for="price">Image:</label>
            <input type="file" class="form-control" id="img">
        </div>
        <div class="form-group">
            <label for="createAt">Date :</label>
            <input type="date" class="form-control" id="createAt">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>

{% endblock %}