<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title> {% block titre %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<header

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" >Gestion des produits</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('home') }}" >Home</a></li>
            <li><a href="{{ path('addcmd') }}">Ajouter une commande </a></li>
            <li><a href="{{ path('add') }}">Ajouter un produit</a></li>
        </ul>
    </div>
</nav>
</header>
<body>
<div class="container">
    <div class="col-sm-2"></div>
    <br/>
    {% block conntent %}{% endblock %}
    <div class="col-sm-2"></div>

</body>
</html>

